# You can whitelist files/folders with !, these will not be ignored.
!*.yaml
!.gitignore
!*.md

home-assistant.log*
home-assistant_v2.db*

# Ignore folders.
.cloud
.google.token
tts
.storage/*
!.storage/lovelace*

# Ensure these YAML files are ignored, otherwise your secret data/credentials will leak.
ip_bans.yaml
secrets.yaml
known_devices.yaml
customize.yaml
